mixin slider()
  .slider
    .slider__slide.slider__slide--blue.slider__slide--active
      .slider__slide-wrapper.container
        h2.slider__title
          | Надежные серверы для проектов любой сложности
        .slider__description
          | Выделенный сервер — это аренда сервера под задачи вашего проекта с возможностью свободно распоряжаться ресурсами машины и установки любого программного обеспечения.
        +button("Заказать")(href='https://selectel.ru/')
    .slider__slide.slider__slide--grey-blue
      .slider__slide-wrapper.container
        h2.slider__title
          | Надежное, безопасное, удобное хранилище ваших данных
        .slider__description
          | Подходит для веб-приложений, хранения архивов, резервного копирования и раздачи статического контента.
        +button("Заказать")(href='https://selectel.ru/')
    .slider__slide.slider__slide--green
      .slider__slide-wrapper.container
        h2.slider__title.slider__title--vmware
          | Публичное облако на базе технологий VMware с оплатой по потреблению
        .slider__description
          | Публичное облако на базе VMware позволяет быстро нарастить мощности вашего дата-центра без капитальных и организационных затрат с оплатой за потребляемые ресурсы.
        +button("Заказать")(href='https://selectel.ru/')
    .slider__slide.slider__slide--purple
      .slider__slide-wrapper.container
        h2.slider__title.slider__title--tier3
          | Размещение серверного оборудования в дата‑центрах уровня надежности Tier&nbsp;III
        .slider__description.slider__description--tier3
          | Размещение серверного оборудования (колокейшн) в современном дата-центре с уровнем надежности Tier III с гарантированным каналом связи с высокой пропускной способностью, бесперебойным питанием и необходимым охлаждением.
        +button("Заказать")(href='https://selectel.ru/')
    .slider__dots
      .slider__dot
      .slider__dot
      .slider__dot
      .slider__dot
    .slider__arrows
      .slider__arrows-wrapper.container
        button(type="button").slider__arrow-btn.slider__arrow-btn--prev
        button(type="button").slider__arrow-btn.slider__arrow-btn--next

