mixin page-header()
  header.page-header
    .page-header__inner.container
      a.page-header__logo(href="https://selectel.ru/" target="_blank" rel="noopener")
      a.page-header__phone(href="tel:+78005550675") +7 (800) 555-06-75
