mixin page-footer()
  footer.page-footer.container
    a.page-footer__logo(href="https://selectel.ru/" target="_blank" rel="noopener")
    .page-footer__socials
      a.page-footer__social-link.page-footer__social-link--vk(href="https://vk.com/selectel" target="_blank" rel="noopener")
      a.page-footer__social-link.page-footer__social-link--fb(href="https://www.facebook.com/selectel/" target="_blank" rel="noopener")
      a.page-footer__social-link.page-footer__social-link--twitter(href="https://twitter.com/selectel" target="_blank" rel="noopener")
      a.page-footer__social-link.page-footer__social-link--habr(href="https://habrahabr.ru/company/selectel/" target="_blank" rel="noopener")
      a.page-footer__social-link.page-footer__social-link--youtube(href="https://www.youtube.com/channel/UCVU0Ml1l_Y90wmy5EjWTSng" target="_blank" rel="noopener")
      a.page-footer__social-link.page-footer__social-link--instagram(href="https://www.instagram.com/selectel.ru/" target="_blank" rel="noopener")

