// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column

  &__logo
    display: block
    width: 113px
    height: 24px
    margin-bottom: 32px
    background: url('../img/selectel-logo.svg') no-repeat 50%
    opacity-transition()

    @media (min-width: $screen-lg)
      margin-bottom: 0

  &__socials
    display flex
    align-items: center

  &__social-link
    display: block
    margin: 0 10px
    opacity-transition()

    @media (min-width: $screen-lg)
      margin: 0 0 0 20px

    &--vk
      background: url('../img/vk.svg') no-repeat 50%
      width: 32px
      height: 18px
    &--fb
      background: url('../img/fb.svg') no-repeat 50%
      width: 11px
      height: 24px
    &--twitter
      background: url('../img/twitter.svg') no-repeat 50%
      width: 28px
      height: 24px
    &--habr
      background: url('../img/habr.svg') no-repeat 50%
      width: 22px
      height: 24px
    &--youtube
      background: url('../img/youtube.svg') no-repeat 50%
      width: 28px
      height: 20px
    &--instagram
      background: url('../img/instagram.svg') no-repeat 50%
      width: 24px
      height: 24px

  @media (min-width: $screen-lg)
    flex-direction: row;
