extends templates/layout-main.pug

block meta
  title Тестовое задание Selectel
  meta(name='description' content='Тестовое задание Selectel')

block header
  +page-header()

block content
  +slider()
  +configurations()

block footer
  +page-footer()
