mixin configurations()
  .configurations.container
    h2.configurations__title Доступные конфигурации
    .configurations__headers
      .configurations__header.configurations__header--cpu Процессор
      .configurations__header.configurations__header--hdd Жесткий диск
      .configurations__header.configurations__header--ram Память
      .configurations__header.configurations__header--price Цена
    .configurations__loader

